/********************************
GENERAL
********************************/

body {
 font-family: 'Open Sans', sans-serif; 
}

#wrapper {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 5%;
}

a {
  text-decoration: none; 
}

img {
  max-width: 100%;  
}

h3 {
  margin: 0 0 1em 0;
}



/********************************
HEADING
********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Changa One', sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  margin: 15px 0;  
}

h2 {
  font-size: 0.75em;
  font-weight: normal;
  margin: -5px 0 0;
}



/********************************
MAVIGATION
********************************/

nav {
  margin: 20px 0 0;
  padding: 10px 0;
  text-align: center;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

nav li {
  display: inline-block;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}



/********************************
FOOTER
********************************/

footer {
  clear: both;
  color: #ccc;
  font-size: 0.75em;
  padding-top: 50px;
  text-align: center;
}

.social-icon {
  margin: 0 5px;
  height: 20px;
  width: 20px;
}



/********************************
PAGE: PORTFOLIO
********************************/

#gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}

#gallery li {
  background-color: #f5f5f5;
  color: #bdc3c7;
  float: left;
  margin: 2.5%;
  width: 45%;
}

#gallery li a p {
  color: #bdc3c7;
  font-size: 0.75em;
  margin: 0;
  padding: 5%;
}



/********************************
PAGE: ABOUT
********************************/

.profile-photo {
  border-radius: 100%;
  display: block;
  margin: 0 auto 30px;
  max-width: 150px;  
}



/********************************
PAGE: CONTACT
********************************/

.contact-info {
  font-size: 0.9em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info a {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: block;
  margin: 0 0 10px;
  min-height: 20px;
  padding: 0 0 0 30px;
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}



/********************************
COLORS
********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;  
}

/* green header */
header {
  background: #6ab47b;
  border-color: #599a68;
}

/* green background on mobile */
nav {
  background: #599a68; 
}


/* log text */
h1,
h2 {
  color: #fff;  
}

/* links */
a {
  color: #6ab47b;
}

 /* nav link */
nav a,
nav a:visited {
  color: #fff; 
}

 /* selected nav link */
nav a.selected,
nav a:hover {
  color: #32673f;
}

