/*************************************
  PAGE STYLES
*************************************/

* {
  box-sizing: border-box;
}

body {
  background: #e8e9e9;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.35em;
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  background: #fff;
  box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 45px auto;
  padding: 10px;
  
}

.item {
  background: #3db5da;
  border-radius: 3px;
  color: #fff;
  margin: 5px;
  padding: 15px;
}