body {
  color: #878787;
  font-size: 1em;
  margin: 0;
}

.main-header {
  background-color: orange;
}

.title {
  color: white;
  font-size: 1.625em; /* 26px/16px */
}

h1 {
  color: white;
  font-size: 5.625em; /* 90px/16px */
}

h2 {
  font-size: 3.3125em; /* 53px/16px */
}

h3 {
  color: #48525c;
  font-size: 1.25em; /* 20px/16px */
}

.primary-content,
.secondary-content {
  width: 60%;
}

.primary-content {
  text-align: center;
}

.t-border {
  border-top: 2px solid lightgrey;
}

#main-footer {
  border-bottom: solid 10px orange;
  padding-bottom: 60px;
  padding-top: 60px;
}

a:link {
  color: orange;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: forestgreen;
}

a:active {
  color: lightcoral;
}

a:focus {
  background-color: orange;
  color: white;
}