@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://necolas.github.io/normalize.css/3.0.2/normalize.css);

body {
  background: #ECEEEF;
  text-align: center;
  margin: 100px auto;
  width: 80%;
  padding: 0 40px;
  font: 14px normal 'Varela Round', Helvetica, serif;
}

h1 {
  font-size: 20px;
  color:white;
}

div {
  background: #000;
  border-radius: 4px;
  margin: 0;
}

ol {
  list-style-type: none;
  padding: 0;
  background:white;
  margin: 0 0;
  width: 100%;
  display: inline-block;
}

li {
  color: #2C3238;
  width: 96%;
  padding: 15px 2%;
  margin: 0;
  text-align: left;
  border-top: 1px solid #D5DDE4;
}

li span {
  float: right;
  color: #777B7E;
}

li.current {
  background: #ccc;
}

li:active,
li:focus,
li:hover,
li:visited {
  cursor: pointer;
}

button {
  margin:10px;
  padding:10px 35px;
  border: none;
  border-radius: 5px;
  background: white;   
}

body>div {
  min-height: 400px;
  padding: 15px 0;
}

iframe {
  height: 150px;
  width: 250px;
}

@media (min-width: 740px) {
  
  iframe {
    height: 315px;
    width: 560px;
  }
  
}

@media (min-width: 1240px) {
  
  #videoWrapper,
  #playlistWrapper {
    display: inline-block;
    width: 40%;
  }

  #videoWrapper {
    float: left;
    margin-left: 15px;
  }

  #playlistWrapper {
    float: right;
    margin-right: 15px;
  }

  .clearfix:after {
    clear: both;
    content: "";
    display: table;
  }
  
  iframe.current {
    border: 1px solid #D5DDE4;
  }
  
}