/******************************
  BASE SELECTORS
******************************/

.form-contact {
  background: #f4f7f8;
  padding: 20px 24px;
}

#container {
  margin: auto;
  max-width: 500px;
}



/******************************
  ATTRIBUTE SELECTORS
******************************/

input[type="email"] {
  background: #fdfee6;
}



a[target="_blank"] {
  border-bottom: 1px dotted;
  color: #39add1;
  text-decoration: none;
}



/******************************
  DRY CLASSES
******************************/

.avatar {
  display: block;
  margin: 0 auto 2em;
}

.br {
  border-radius: .5em;
}

.btn {
  color: #fff;
  cursor: pointer;
  font-size: .875em;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.btn:hover {
  opacity: .75;
}

.default {
  background-color: #52bab3;
}

.error {
  background-color: #ff784f;
}

.rounded {
  border-radius: 50%;
}



/******************************
  MEDIA QUERIES
******************************/

@media (min-width: 769px) {
  
  .inln {
    display: inline-block;
    width: auto;
  }
  
  /* Adjacent Sibling Selector */
  /* Targets immediate sibling on the page */
  .btn + .btn {
    margin-left: 20px;
  }
  
} 



/******************************
  COMBINATORS
******************************/

/* Direct Descendant Selector*/
form > a {
  font-size: .7em;
}

/* General Sibling Selector */
/* Targets every specified sibling that follows */

/* Target all label elements that are siblings following an h1 */
h1 ~ label  {
  background: tomato;
  color: white;
  padding: 5px;
}

