
body {
  font-family: 'Nunito', sans-serif;
  color: #616161;
  padding: 40px 0;
}

ul {
  list-style: none;
  width: 50%;
  margin: auto;
}

li {
  border-bottom: 1px dotted;
  padding: 15px 10px;
}



/**************************************
  :nth-child PSEUDO CLASSES
**************************************/

li:last-child {
  border: none;
}

/* Select the forth item first then every third item thereafter */
li:nth-child(3n+4) {
  background: #52bab3;
  color: white;
}

li:nth-child(3) {
  text-transform: uppercase;
}

li:nth-child(-n+3) {
  font-style: italic;
}