input:focus,
textarea:focus {
  border-color: #52bab3;
}



/****************************************
  UI ELEMENT STATES PSEUDO-CLASSES
****************************************/

input:disabled {
  background: #ddd;
}

/* When an input of type checkbox has a state of checked, style rules are applied to the adjacent sibling label element */
input[type="checkbox"]:checked + label {
  font-weight: bold;
}
